$primary: #3867d6;
$secondary: #0fb9b1;

@import "bootstrap/scss/bootstrap";

#app {
    color: rgb(180, 180, 180);
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
  }
  
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
  }
  
  h1 {
    color: red;
  }